/* Google Font [Poppins] */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

/* Custom CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(coming-images/bg.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
header h1{
    font-size: 3.7rem;
    padding-top: 5%;
    padding-bottom: 10px;
}
header p{
    color: gainsboro;
    width: 35%;
    font-size: 14px;
}
.time-catagory{
    display: flex;
}
.times{
    margin: 40px 25px;
}
.times h2{
    font-size: 3.3rem;
}
.times h5{
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.btn{
    margin: 50px 0;
}
button{
    margin: 0 10px;
    padding: 12px 40px;
    cursor: pointer;
    font-size: 22px;
    border: 1px solid violet;
    background-image: linear-gradient(110deg, #000080 60%, #E03FD8 60%);
    color: white;
    border-radius: 5px;
}